@import "theme.css";
@import "./sections/header.css";
@import "./sections/footer.css";
@import "./sections/about-me.css";
@import "./sections/skills.css";
@import "./sections/projects.css";

*{
  box-sizing: border-box;
}

:root{
  font-size: var(--p-font-size);
  line-height: var(--p-line-height);
  letter-spacing: var(--p--letter-spacing);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container{
  margin: 0px auto;
  max-width: 1536px;
  padding: 0px 2rem;
}

.section__title{
  font-size: var(--h1-font-size);
  line-height: var(--h1-line-height);
  font-weight: bold;
}

.section__description{
  text-align: center;
  max-width: 65ch;
  color: var(--n-500);
}

a{
  text-decoration: none;
}