/* Desktop */

@media (max-width: 1536px){
  .container{
    max-width: 1440px;
  }
}

@media (max-width: 1440px){
  .container{
    max-width: 1028px;
  }
}

/* Tablet & small laptop */

@media (max-width: 1280px){
  .container{
    max-width: 1024px;
  }
  
  /* Header */
  .header__container{
    flex-direction: column;
  }

  .header__col--left{
    flex-direction: column;
    align-items: center;
  }

  .header__content{
    align-items: center;

    & p{
      text-align: center;
      max-width: 320px;
    }
  }

  .header__col--right{
    align-items: center;
    text-align: center;
  }
}

/* Phone */

@media (max-width: 1536px){
  .container{
    max-width: 1440px;
  }
}

@media (max-width: 640px){
  :root{
    font-size: 14px;
    line-height: 16px;
  }
  .container{
    max-width: 475px;
  }

  .header__badge-container{
    flex-direction: column;
  }
}

