.about-me__section{
  margin: 140px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1660px;
  position: relative;

  & img{
    position: absolute;
    width: 300px;
    height: auto;
  }

  & img:nth-child(1){
    top: -20%;
    left: 1%;
    z-index: -10;
  }

  & img:nth-child(2){
    bottom: -20%;
    right: 0;
  }
}

.about-me__container{
  width: 70%;
  padding: 3rem;
  background-color: hsla(var(--p-600-code), 0.1);
  border-radius: 3rem;
}

.about-me__content-container{
  display: flex;
  flex-direction: column;
  gap: 28px;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 3rem;
  padding: 3rem 0;

  & h1{
    color: var(--p-600);
  }

  & p{
    color: var(--n-600);
    padding: 0 1rem;
  }
}

.CTA{
  display: flex;
  gap: 1rem;
  max-width: 90%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  & a{
    padding: 12px;
    width: 240px;
    max-width: 80%;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    font-weight: 600;
    transition: all 0.3s ease;
  }
}

.primary-button{
  color: white;
  background-color: var(--p-600);
  box-shadow: 0 3px 6px -1px hsla(var(--p-900-code), 0.2),
  0 1px 2px hsla(var(--p-900-code), 0.5);

  &:hover{
    background-color: var(--p-700);
    box-shadow: 0 4px 8px hsla(var(--p-900-code), 0.2), 0 2px 4px hsla(var(--p-900-code), 0.3),0 1px 2px hsla(var(--p-900-code), 0.5);
  }
}

.outline-button{
  border: 1px solid var(--p-600);
  color: var(--p-600);
  background-color: transparent;

  &:hover{
    box-shadow: 0 4px 8px hsla(var(--p-900-code), 0.1),
    0 2px 4px hsla(var(--p-900-code), 0.3);
  }
}

