.header{
  margin-top: 40px;
}

.header__container{
  display: flex;
  gap: 40px;

  & p{
    color: var(--n-600);
  }

  & span{
    color: var(--p-950);
    font-weight: 600;
  }
}

.header__title{
  font-size: var(--h2-font-size);
  line-height: var(--h2-line-height);
  font-weight: 600;
}

.header__col--left{
  display: flex;
  flex: 1;
  gap: 20px;

  & .header__badge-container{
    display: flex;
    gap: 6px;
    text-align: center;
  }

  & .badge{
    font-size: var(--caption-font-size);
    line-height: var(--caption-line-height);
    color: var(--p-950);
    padding: 4px 12px;
    background-color: var(--p-50);
  }

  & .header__content{
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

.header__col--right{
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 8px;
  align-items: end;
}

.header__img{
  width: 118px;
  height: 118px;
  background-image: url("../../assets/avatar.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  box-shadow: 
    inset 0px -1px 1px hsla(0,0%, 100%, 0.5),
    0 4px 6px -1px hsla(0, 0%, 0%, 0.2),
    0 2px 4px -2px hsla(0,0%,0%,0.2),
    inset 0px 1px 3px hsla(0, 0%, 0%, 0.1);
}
